<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taisykles</title>
</head>
<body>
<p>1. TAISYKLIŲ TAIKYMAS IR AIŠKINIMAS&nbsp;</p>
<p>1.1.&nbsp;Pirmas valdytojas: studentų odontologų asociacija, antras valdytojas: Vilniaus universiteto medicinos fakultetas&nbsp;(toliau – „mes“ arba „Duomenų valdytojas“) yra šios interneto svetainės valdytoja. Šiomis privatumo taisyklėmis mes nustatome ir paaiškiname kaip yra renkami ir toliau tvarkomi jūsų asmens duomenys jums naudojantis šia interneto svetaine. Šiose privatumo taisyklėse nustatytos sąlygos taikomos kiekvieną kartą jums norint pasiekti mūsų teikiamą turinį ir /ar paslaugą, nepaisant to, kokį įrenginį (kompiuterį, mobilųjį telefoną, planšetę, televizorių ar kt.) naudojate.</p>
<p>Pirmo duomenų valdytojo rekvizitai:</p>
<p>Pavadinimas Studentų Odontologų asociacija</p>
<p>Įmonės kodas:&nbsp;300071947</p>
<p>Adresas: Sukilėliu pr. 53-1000, Kaunas</p>
<p>Tel.: +37061019703</p>
<p>El. paštas: soa.bendras@gmail.com</p>
<p>1.2.&nbsp;Patvirtiname, kad jūsų duomenys bus renkami laikantis galiojančių Europos Sąjungos bei Lietuvos Respublikos teisės aktų reikalavimų bei kontroliuojančių institucijų nurodymų, bus taikomos visos protingos techninės ir administracinės priemonės tam, kad mūsų surinkti duomenys apie svetainės lankytojus būtų apsaugomi nuo praradimo, neleistino naudojimo ir/ar pakeitimų. Duomenų valdytojo darbuotojai yra raštiškai įsipareigoję trečiosioms šalims neatskleisti ir neplatinti darbo vietoje gaunamos informacijos įskaitant ir informacijos apie svetainės/socialinio tinklo paskyrų lankytojus.&nbsp;</p>
<p>1.3. Asmenys, kurie yra jaunesni negu 14 metų, negali teikti jokių asmens duomenų per mūsų svetainę /socialinių tinklų paskyras. Jei esate asmuo, kuris yra jaunesnis negu 16 metų, prieš pateikdami asmeninę informaciją) turite gauti savo tėvų arba kitų teisėtų globėjų sutikimą.</p>
<p>1.4. Taisyklėse vartojamos sąvokos suprantamos taip, kaip jos yra apibrėžtos Bendrajame duomenų apsaugos reglamente Nr. 2016/679 (ES).</p>
<p>1.5. Šiomis bendrosiomis taisyklėmis (toliau – Taisyklės), privalo besąlygiškai vadovautis kiekvienas interneto svetaine www.sveikidantukai.lt&nbsp;besinaudojantis asmuo, nepriklausomai nuo to, ar jis yra prisiregistravęs vartotojas, ar jis naudojasi Svetaine neprisiregistravęs (toliau – Vartotojas).&nbsp;</p>
<p>1.6. Kiekvienas asmuo registruodamasis Svetainėje privalo perskaityti šias Taisykles, Privatumo politiką, taip pat kitas privalomas Svetainės taisykles, o kilus papildomiems klausimams kreiptis į soa.bendras@gmail.com&nbsp;skyrelį.&nbsp;</p>
<p>1.7. Kiekvienas neprisiregistravęs Svetainėje asmuo turi galimybę matyti ir naudotis tik dalimi Svetainės funkcijų. Toks asmuo visais atvejais privalo laikytis šių Taisyklių, Privatumo politikos ir kitų privalomų Svetainės taisyklių ta apimtimi, kuria gali naudotis Svetaine. Paprastumo dėlei Taisyklėse naudojama Vartotojo sąvoka apima ir neprisiregistravusius Svetainės naudotojus.&nbsp;</p>
<p>1.8. Jeigu kuri nors šių Taisyklių nuostata prieštarauja įstatymams ar kitiems teisės aktams arba dėl kokios nors priežasties tampa dalinai arba visai negaliojanti, ji nedaro negaliojančiomis likusių Taisyklių nuostatų.&nbsp;</p>
<p><strong>2. KAIP MES RENKAME INFORMACIJĄ APIE JUS?</strong></p>
<p><em>2.1. Jūsų asmens duomenys, t.y. bet kokia informacija apie jus, kuri mums leidžia jus atpažinti, yra gaunama įvairias būdais:</em></p>
<p>2.1.1. jūs galite pateikti informaciją (asmens duomenis) patys (užpildydami registracijos formą, skambindami mums);</p>
<p>2.1.2. informacija apie jus gali būti renkama automatiškai (jums lankantis mūsų svetainėje, socialinėje paskyroje, naudojantis mūsų programėlėmis);</p>
<p><em>2.2. Jūs patys galite pateikti mums savo asmens duomenis tiesiogiai. Tai dažniausiai nutinka tokiais atvejais,kai:&nbsp;
    <br>&nbsp;
</em>2.2.1. jūs registruojatės mūsų svetainėje;&nbsp;</p>
<p>2.2.2. dalyvaujate apklausose.</p>
<p><em>2.3. Informacija apie jus gali būti renkama automatiškai. Tai dažniausiai nutinka tokiais atvejais, kai:</em></p>
<p>2.3.1.&nbsp;pateikiate užklausas per susisiekimo sistemą ar mūsų socialinių tinklų paskyras;</p>
<p>2.3.2. naudojatės svetaine (slapukų ir panašių technologijų pagalba renkami duomenys. Daugiau informacijos apie mūsų naudojamus slapukus rasite žemiau);</p>
<p>2.4. Kiek tai yra leidžiama pagal galiojančius teisės aktus, mes galime gauti informaciją apie jus iš trečiųjų šalių. Tai gali būti informacija pateikiama mūsų partnerių, marketingo agentūrų, jūsų viešai prieinamų profilių informacija (Linkedin, Facebook, Twitter, Instagram). Mes galime gautą informaciją apie jus iš jūsų pačių, viešųjų ir komercinių šaltinių susieti ją su kita informacija, kurią gauname iš jūsų arba apie jus.</p>
<p>2.5. Mes galime rinkti informaciją apie jus ir kitais atvejais, kurie nėra aptarti šiose privatumo taisyklėse. Jei taip atsitiktų, mes jus papildomai informuosime.&nbsp;</p>
<p><strong>3. KOKIĄ INFORMACIJĄ (ASMENS DUOMENIS) APIE JUS MES TVARKOME?</strong></p>
<p><em>3.1. Nors ir stengiamės rinkti kuo mažiau informacijos apie jus, savo veiklai vykdyti mes renkame šią informaciją:</em></p>
<p>3.1.1. informaciją, kuri būtina siekiant jums suteikti mūsų paslaugas;</p>
<p>3.1.2. informaciją, kurią jūs pateikiate apklausose;</p>
<p>3.1.3. informaciją, kurią jūs pateikiate skambindami mums;</p>
<p>3.1.4. informaciją apie jūsų specifinius poreikius, ligas;</p>
<p>3.1.5. informaciją, reikalingą nustatyti jūsų amžių ir tapatybę;</p>
<p>3.1.6. informaciją apie jūsų naudojamą įrenginį.</p>
<p><em>3.2. Informacija, kurią mes renkame tiesiogiai iš jūsų bus akivaizdi iš aplinkybių ir konteksto. Pavyzdžiui:</em></p>
<p>3.2.1. Paslaugų suteikimui mes tvarkome tokią jūsų informaciją: vardas, pavardė, taip pat kita informacija, kuri gali būti reikalinga paslaugų suteikimo metu, kaip pavyzdžiui jūsų telefonas, elektroninis paštas skirti susisiekti su jumis.</p>
<p>3.2.2.Informacija apie jūsų specifinius poreikius, ligas.</p>
<p>3.3. Informacija, kurią mes renkame automatiškai, paprastai yra tokia:</p>
<p>3.3.1.informacija apie tai, kaip naudojatės mūsų svetainėmis (Įrenginio informacija: t.y., IP adresas, operacinės sistemos versija ir įrenginio, kurį naudojate turiniui/prekėms pasiekti, parametrai<em>)</em>; prisijungimo informacija: t. y. jūsų sesijos naudojimo laikas ir trukmė, užklausų terminai, kuriuos įvedate mūsų svetainėje, ir bet kokia informacija, saugoma slapukuose, kuriuos nustatėme jūsų įrenginyje (slapukų politika pateikiama žemiau); vietos informacija: t. y. įrenginio GPS signalas arba informacija apie artimiausius „WiFi“ prieigos taškus bei mobiliojo ryšio bokštus, kuri gali būti perduota mums jums naudojantis mūsų svetainės turiniu.</p>
<p><em>3.4. Informacija, kurią gauname iš trečiųjų asmenų ar viešai prieinamų šaltinių dažniausiai yra ši:</em></p>
<p>3.4.1. jūsų el. pašto adresas, vardas, pavardė, specialūs poreikiai ir pomėgiai.</p>
<p>3.5. Jūs galite rinktis nepateikti mums tam tikros informacijos (pvz., informacijos, prašomos pateikti apie jums rekalingą medicininę pagalbą), tačiau tokiu atveju negalėsime arba ne pilnai galėsime suteikti jums mūsų siūlomas paslaugas.</p>
<p><strong>4. DUOMENŲ TVARKYMO TIKSLAI IR TEISINIS PAGRINDAS</strong></p>
<p><em>4.1. Aukščiau pateikiama informacija yra tvarkoma siekiant šių tikslų:</em></p>
<p>4.1.1. Medicininių ir kitų susijusių paslaugų teikimas.</p>
<p>4.1.2.Jūsų prašymu teikti informaciją susijusią su paslaugų teikimu.</p>
<p>4.1.3. Rinkodaros tikslu, pvz., pateikti individualiai pritaikytus reklaminius skelbimus ir rėmėjų turinį ir siųsti pranešimus apie akcijas, įvertinti ir analizuoti savo rinką, klientus, produktus ir paslaugas (įskaitant ir jūsų nuomonės apie produktus ir paslaugas rinkimą, klientų/partnerių apklausų organizavimą, konkursus ar akcijas kiek tai leidžia įstatymai).</p>
<p>4.1.4. Sužinoti, kaip žmonės naudoja mūsų teikiamas internetines paslaugas, kad galėtume jas pagerinti ir kurti naują turinį, produktus bei paslaugas.</p>
<p>4.1.5. Ginti savo interesus teisme ar kitoje institucijoje.</p>
<p>4.1.6. Kitais būdais su jūsų sutikimu</p>
<p>&nbsp;</p>
<p><em>4.2. Jūsų asmens duomenys tvarkomi remiantis vienu arba keliais teisėto tvarkymo pagrindais:</em></p>
<p>4.2.1.&nbsp;Teisės aktų reikalavimų vykdymas;</p>
<p>4.2.2. Sutarties su jumis vykdymas;</p>
<p>4.2.3.Teisėti mūsų interesai, nebent jūsų privatūs interesai yra viršesni;</p>
<p>4.2.4. Tam tikrais atvejais, jūsų sutikimas.</p>
<p>4.3.</p>
<table border="1" cellpadding="0" cellspacing="0" width="605">
    <thead>
    <tr>
        <td width="29.75206611570248%">
            <p><strong>Tikslas</strong></p>
        </td>
        <td width="31.239669421487605%">
            <p><strong>Teisinis pagrindas (-ai)</strong></p>
        </td>
        <td valign="top" width="39.00826446280992%">
            <p><strong>Asmens duomenys</strong></p>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="29.75206611570248%">
            <p>Medicininių ir kitų susijusių paslaugų teikimas</p>
        </td>
        <td width="31.239669421487605%">
            <p>Sutarties su jumis vykdymas</p>
            <p>Teisės aktų reikalavimų vykdymas</p>
            <p>Teisėti interesai – verslo žinomumo ir prestižo didinimas.</p>
        </td>
        <td valign="top" width="39.00826446280992%">
            <p>Vardas, pavardė, kita informacija, kuri gali būti reikalinga paslaugų suteikimo metu, kaip pavyzdžiui jūsų telefonas, elektroninis paštas skirti susisiekti su jumis, informacija apie jūsų specifinius poreikius.</p>
        </td>
    </tr>
    <tr>
        <td width="29.75206611570248%">
            <p>Jūsų prašymu teikti informaciją susijusią su paslaugų teikimu</p>
        </td>
        <td width="31.239669421487605%">
            <p>Ši informacija jums teikiama dėl to, kad turime teisėtą interesą suteikti tikslią informaciją apie savo teikiamas paslaugas, produktus, papildomai teikiamas paslaugas ir kt.</p>
        </td>
        <td valign="top" width="39.00826446280992%">
            <p>Siekdami atsakyti į jūsų paklausimus telefonu, elektroniniu paštu, socialinių tinklų aplinkoje ir kitais būdais galime paprašyti jūsų telefono, el. pašto adreso ar kito jums patogaus kontaktinio duomens.</p>
        </td>
    </tr>
    <tr>
        <td width="29.75206611570248%">
            <p>Rinkodaros tikslu, pvz., pateikti individualiai pritaikytus reklaminius skelbimus ir rėmėjų turinį ir siųsti pranešimus apie akcijas, įvertinti ir analizuoti savo rinką, klientus, produktus ir paslaugas (įskaitant ir jūsų nuomonės apie produktus ir paslaugas rinkimą bei klientų apklausų organizavimą).</p>
        </td>
        <td width="31.239669421487605%">
            <p>Šiuo tikslu tvarkome jūsų asmens duomenis turėdami teisinį interesą informuoti apie savo paslaugas, renginius, naujienas ir kitą aktualią informaciją.</p>
        </td>
        <td valign="top" width="39.00826446280992%">
            <p>Vardas, socialinio tinklo paskyros duomenys, telefonas, el. pastas, adresas, jūsų pomėgiai.&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="29.75206611570248%">
            <p>Sužinoti, kaip žmonės naudoja mūsų teikiamas internetines paslaugas, kad galėtume jas pagerinti ir kurti naują turinį, produktus bei paslaugas.</p>
        </td>
        <td width="31.239669421487605%">
            <p>Šiuo tikslu tvarkome jūsų asmens duomenis turėdami teisinį interesą stebėti savo teikiamų paslaugų kokybę, kurti ir gerinti savo teikiamą turinį, užtikrinti svetainės saugumą.</p>
        </td>
        <td valign="top" width="39.00826446280992%">
            <p>IP adresas, operacinės sistemos versija ir įrenginio, kurį naudojate turiniui/prekėms pasiekti, parametrai, jūsų sesijos naudojimo laikas ir trukmė, užklausų terminai, kuriuos įvedate mūsų svetainėje, ir bet kokia informacija, saugoma slapukuose, kuriuos nustatėme jūsų įrenginyje, įrenginio GPS signalas arba informacija apie artimiausius „WiFi“ prieigos taškus bei mobiliojo ryšio bokštus, kuri gali būti perduota mums jums naudojantis mūsų svetainės turiniu.</p>
        </td>
    </tr>
    <tr>
        <td width="29.75206611570248%">
            <p>Ginti savo interesus teisme ar kitoje institucijoje</p>
        </td>
        <td width="31.239669421487605%">
            <p>Teisės aktų reikalavimų vykdymas.</p>
            <p>Teisinis interesas - gintis nuo pareikštų ieškinių ir pretenzijų.</p>
        </td>
        <td valign="top" width="39.00826446280992%">
            <p>Priklausomai nuo pareikšto ieškinio ar pretenzijos, šiuo tikslu gali būti tvarkomi visi mūsų turimi jūsų asmens duomenys, išvardinti šiose privatumo taisyklėse.</p>
        </td>
    </tr>
    </tbody>
</table>
<p>Tais atvejais, kai tvarkysime jūsų asmens duomenis kitais tikslais negu nurodyta šiose taisyklėse, mes jus apie tai informuosime pateikdami atskirą pranešimą.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>5. KIEK LAIKO SAUGOSIME JŪSŲ ASMENS DUOMENIS?</strong></p>
<p>5.1. Jūsų asmens duomenis saugosime tiek, kiek reikia nustatytam tikslui pasiekti. Pasiekus nustatytą tikslą, jūsų asmens duomenys ištrinami, išskyrus tuos atvejus, kai teisės aktai įpareigoja mus saugoti informaciją.</p>
<p><em>Paprastai asmens duomenys saugomi tokiais terminais:</em></p>
<table border="1" cellpadding="0" cellspacing="0" width="633">
    <thead>
    <tr>
        <td width="37.2827804107425%">
            <p><strong>Asmens duomenys</strong></p>
        </td>
        <td width="62.7172195892575%">
            <p><strong>Saugojimo laikotarpis</strong></p>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="37.2827804107425%">
            <p>Rinkodarai naudojami asmens duomenys</p>
        </td>
        <td width="62.7172195892575%">
            <p>3 metai nuo paskutinio jūsų apsilankymo mūsų svetainėje</p>
        </td>
    </tr>
    <tr>
        <td width="37.2827804107425%">
            <p>Video kamerų pagalba renkami duomenys</p>
        </td>
        <td width="62.7172195892575%">
            <p>Nuo 2 iki 14 dienų. Ilgesniam laikotarpiui – bus Jūsų atsiklausta ir Jūs būsite informuoti.&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="37.2827804107425%">
            <p>Informacinių sistemų žurnaliniai įrašai (logai)</p>
        </td>
        <td width="62.7172195892575%">
            <p>Nuo 1 iki 10 metų</p>
        </td>
    </tr>
    <tr>
        <td width="37.2827804107425%">
            <p>Analitikos duomenys</p>
        </td>
        <td width="62.7172195892575%">
            <p>Paprastai šie duomenys yra renkami automatiškai jums naudojantis svetaine ir anonimizuojami/subendrinami netrukus po gavimo.</p>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>6. BENDROSIOS SĄLYGOS&nbsp;</p>
<p>6.1. www.sveikidantukai.lt&nbsp;suteikia Vartotojams virtualią erdvę, t.y. Svetainę, su susistemintais Pacientų paieškos, Spėjamu Burnos Sveikatos problemų paskelbimu, pinigų sutaupymo platforma, kuria Vartotojai naudojasi savarankiškai.&nbsp;</p>
<p>6.2. Vartotojai - Pacientai turi galimybę paskelbti savo spėjamų dantų sveikatos problemų aprašus, kontaktus ir kitą informaciją, naudodamiesi registracijos forma.</p>
<p>6.3. Vartotojai Studentai ir Vartotojai Pacientai savarankiškai susitaria dėl atvykymo gydytis pas Studentus, kuomet Studentai paskambina Pacientų nurodytais telefonų numeriais, nedalyvaujant bei netarpininkaujant www.sveikidantukai.lt, todėl Vartotojai yra patys atsakingi už susitarimą dėl vizito Studentų Mokymosi Įstaigų Klinikose bei paslaugų atlikimą, atvykimą laiku bei bet kuriuos kitus su sudarymu ar vykdymu susijusius įsipareigojimus. Už gydymo procesą, rezultatą, atsako Studentus prižiūrintis Mokymosi Įstaigos specialistas.&nbsp;</p>
<p>6.4. Komerciniai pasiūlymai per www.sveikidantukai.lt&nbsp;be raštiško valdytojų&nbsp;sutikimo Svetainėje yra draudžiami.&nbsp;</p>
<p>6.5. Bet koks trečiųjų asmenų atliekamas Svetainės turinio, dizaino ir Svetainės duomenų bazių informacijos pakeitimas, apdorojimas, kopijavimas ir/ar kitoks naudojimas be raštiško
    <a href="http://www.sveikidantukai.lt">www.sveikidantukai.lt</a> ar valdytojų&nbsp;leidimo ir/arba nesilaikant Taisyklių, yra autorių ir kitų teisių pažeidimas, kuris užtraukia atsakomybę pagal Lietuvos Respublikos įstatymus.&nbsp;
</p>
<p>7. VARTOTOJO PACIENTO BEI STUDENTO TEISĖS, PAREIGOS, PAREIŠKIMAI IR ATSAKOMYBĖ&nbsp;</p>
<p>7.1. Vartotojas pacientas bei studentas įsipareigoja:</p>
<p>7.1.1. Pildant registracijos formą ar registruojantis svetainėje pateikti teisingą informaciją apie save, įskaitant tikrą savo vardą, el. Paštą ir kitą informaciją;&nbsp;</p>
<p>7.1.2. Svetainėje registruotis tik vieną kartą, nekurti daugiau nei vienos registracijos anketos, vartotojai pacientai registracijos formas gali pildyti ne vieną kartą;&nbsp;</p>
<p>7.1.3. Nenaudoti Svetainės neteisėtiems veiksmams ar sandoriams vykdyti ar sukčiavimui;&nbsp;</p>
<p>7.1.4. Naudodamasis Svetaine pateikti objektyvią, teisingą, visapusišką ir išsamią informaciją apie registruojama pacientą (t.y. informacija turi tinkamai apibūdinti registruojamo paciento spėjamus sveikatos ir kt. duomenis);&nbsp;</p>
<p>7.1.5. Užtikrinti, kad registruojamas pacientas sutinka būti registruojamas ir yra pasiruošęs laukti studento skambučio.&nbsp;</p>
<p>7.1.6. Nekopijuoti, neatskleisti tretiesiems asmenims, ir kitaip nenaudoti Svetainėje esančios informacijos, kurią įkėlė www.sveikidantukai.lt&nbsp;arba bet kuris kitas Svetainės Vartotojas;&nbsp;</p>
<p>7.1.7. Užtikrinti, kad naudojantis Svetaine Vartotojo pateikiama informacija ir duomenys, įskaitant, elektroninius duomenis, t.y. failus, kompiuterių programas, el.pašto laiškus, nuotraukas, pacientų aprašymus ir kt.:&nbsp;</p>
<p>7.1.7.1. nėra klaidinanti ar neteisinga;</p>
<p>7.1.7.2. Neregistruoja asmenų, t.y. Nepaskelbia Kortelių apie jų Spėjamą burnos sveikatos situaciją, kontaktus ir pan., kurie nesutinka būti registruojami.&nbsp;</p>
<p>7.1.7.3. Neviešinti jokių duomenų paskelbtus apie Pacientus, Jų korteles ar Studentus, be raštiško www.sveikidantukai.lt&nbsp;ir nurodytų vartotojų ar registruotų asmenų sutikimo.&nbsp;</p>
<p>7.1.7.4. Nenaudoja duomenų, esančių www.sveikidantukai.lt&nbsp;svetainėje jokiais tikslais nenurodytais Privatumo Politikoje ar Bendrosiose Interneto Svetainės Taisyklėse.&nbsp;</p>
<p>7.1.7.5. Studentai užtikrina, jog naudosis sistema sąžiningai, darys viską, kad Pacientų patirtis su www.sveikidantukai.lt&nbsp;būtų kuo sklandesnė; nepiktnaudžiaus sistemos trūkumais.&nbsp;</p>
<p>7.1.7.6. nepažeidžia trečiųjų asmenų turtinių ar asmeninių neturtinių teisių (įskaitant teises į intelektinę nuosavybę);&nbsp;</p>
<p>7.1.7.7. nepažeidžia teisės aktų reikalavimų (įskaitant vartotojų teisių apsaugą, intelektinės nuosavybės teisių apsaugą ar konkurenciją reglamentuojančius teisės aktus bei importo bei eksporto taisykles);&nbsp;</p>
<p>7.1.7.8. neprieštarauja viešajai tvarkai ir gerai moralei;</p>
<p>7.1.7.9. neturi savyje virusų ar kitokių kompiuterių programų ar failų, kurie gali sutrikdyti normalų Svetainės veikimą, būti patalpinti Vartotojų kompiuteriuose ir dėl to padaryti žalą Vartotojui ar jų turtui, trukdyti Vartotojui naudotis Svetaine ar trukdyti Vartotojui naudotis kompiuteriu;&nbsp;</p>
<p>7.1.7.10. Nesiūlyti apsilankyti kitose klinikose, kurios gali iš Paciento pasipelnyti.&nbsp;</p>
<p>7.1.8. Nerinkti, nekaupti, neperkelti į kitas laikmenas, nepadaryti viešai prieinamais, neskelbti bei neplatinti Svetainės Vartotojų ar užregistruotų pacientų duomenų ar duomenų apie bet kokius Svetainės Vartotojų veiksmus, įskaitant visus sveitainėje esančius duomenis.&nbsp;</p>
<p>7.1.9. Nereikšti reikalavimų www.sveikidantukai.lt&nbsp;dėl susitarimų tarp Vartotojų, ar Vartotojų elgesio Svetainėje ar elgesio Vizito pas Studentus, Paslaugų atlikimo metu.&nbsp;</p>
<p>7.1.10. Vartotojas įsipareigoja privačiomis ar SMS žinutėmis nesiųsti:</p>
<p>7.1.10.1. jokios reklaminio pobūdžio informacijos;</p>
<p>7.1.10.2. įžeidžiančių, prieštaraujančių gerai moralei, viešajai tvarkai tekstų;&nbsp;</p>
<p>7.1.10.3. nelegalaus pobūdžio žinučių,</p>
<p>7.1.10.4. masinio pobūdžio žinučių;</p>
<p>7.1.10.5. bet kokių žinučių, kurios kitaip prieštarautų šioms Taisyklėms, gerai moralei ar viešąjai tvarkai.&nbsp;</p>
<p>7.2. Naudodamasis Svetaine Vartotojas patvirtina, kad jis/ji:</p>
<p>7.2.1. supranta, kad visa atsakomybė už Svetainėje pateiktos informacijos teisingumą ir atitikimą Lietuvos Respublikos teisės aktams tenka pačiam informaciją pateikusiam asmeniui;&nbsp;</p>
<p>7.2.2. yra veiksnus fizinis, t. y. asmuo, sulaukęs pilnametystės, kurio veiksnumas nėra apribotas teismo tvarka ir turintis visus įgaliojimus bei teises dalyvauti svetainės siūlomoje veikloje;&nbsp;</p>
<p>7.2.3. nebandys gauti neleistinos prieigos prie bet kurios Svetainės funkcijos ar paskyros;&nbsp;</p>
<p>7.2.4. nekopijuos, nekeis ar kitaip nepažeis www.sveikidantukai.lt&nbsp;intelektinės nuosavybės teisių į Svetainę;&nbsp;</p>
<p>7.2.5. nenaudos informacijos iš kitų interneto svetainių, nenaudos trečiųjų asmenų kontaktų;&nbsp;</p>
<p>7.2.6. nenaudos kitų asmenų konfidencialios informacijos be jų atskiro sutikimo;&nbsp;</p>
<p>7.2.7. tinkamai vykdys savo pareigas, nurodytas Taisyklėse;</p>
<p>7.2.8. Supranta ,kad www.sveikidantukai.lt&nbsp;ir/arba svetainės valdytojas yra tik pagalbininkas ar tarpininkas, padedantis Studentams surasti Pacientų praktikai ir niekaip neatsako už visus veiksmus, vykstančius už Svetainės ribų, t.y. Pokalbius telefonu su Studentais, Gydymo procesą, visą kitą veiklą, kuri kilo Sveikidantukai.lt&nbsp;naudojimosi pasekmėje.&nbsp;</p>
<p>7.2.9. Supranta, kad Vartotojui gali kilti pareiga sumokėti Studentų Mokymosi Įstaigų Klinikų priskirtas mokėtinas sumas.&nbsp;</p>
<p>7.2.13. supranta ir sutinka, kad www.sveikidantukai.lt&nbsp;tvarkytų ir valdytų Vartotojo asmens duomenis vadovaudamasi Lietuvos Respublikos teisės aktais, bei Privatumo politika.&nbsp;</p>
<p>7.3. Greta patvirtinimų, pateiktų taisyklių 3.2 punkte, Vartotojai, kurie yra nepilnamečiai fiziniai asmenys, patvirtina, kad:&nbsp;</p>
<p>7.3.1. Supranta, kad pateikti Paciento Kortelę su savo duomenimis, gali tik su Tėvų ar Globėjų sutikimu; Kad Studentai galės atlikti gydymą tik atvykus su Tėvais ar Globėjais.&nbsp;</p>
<p>7.3.2. prieš prisiimdamas įsipareigojimą dalyvauti Studentų Mokymo procese kaip savanoris, yra gavęs įstatyminių atstovų (pvz. tėvų) sutikimą tai daryti.&nbsp;</p>
<p>7.3.3. gerai suvokia visas Taisyklių nuostatas ir su jomis sutinka.</p>
<p>7.3.4. Vartotojas turi teisę informuoti www.sveikidantukai.lt&nbsp;apie jo manymu atliekamus Svetainėje pažeidimus.&nbsp;</p>
<p><strong>7.4 Kitos Jūsų teisės</strong></p>
<p><em>7.4.1. Duomenų subjektas, kurio duomenys tvarkomi Duomenų valdytojo veikloje, priklausomai nuo situacijos, turi šias teises:</em></p>
<p><em>7.4.1.1. &nbsp;</em>Žinoti (būti informuotas) apie savo duomenų tvarkymą (teisė žinoti).</p>
<p>7.4.1.2. Susipažinti su savo duomenimis ir kaip jie yra tvarkomi (teisė susipažinti).</p>
<p>7.4.1.3. Reikalauti ištaisyti arba, atsižvelgiant į asmens duomenų tvarkymo tikslus, papildyti asmens neišsamius asmens duomenis (teisė ištaisyti).</p>
<p>7.4.1.4. Turi teisę reikalauti, kad asmens Duomenų valdytojas apribotų asmens duomenų tvarkymą esant vienai iš teisėtų priežasčių (teisė apriboti).</p>
<p>7.4.1.5. Turi teisę į duomenų perkėlimą (teisė perkelti).</p>
<p>7.4.1.6. Turi teisę bet kuriuo metu nesutikti su savo asmens duomenų tvarkymu, kai toks duomenų tvarkymas vykdomas viešo intereso labui arba tvarkyti duomenis būtina siekiant teisėtų duomenų valdytojo arba trečiosios šalies interesų. Norint duomenų valdytojui tvarkyti asmens duomenis, jam tenka pareiga įrodyti, jog duomenys tvarkomi dėl įtikinamų teisėtų priežasčių, kurios yra viršesnės už &nbsp;duomenų subjekto interesus. (teisė nesutikti).</p>
<p>7.4.1.7. Pateikti skundą Valstybinei duomenų apsaugos inspekcijai.</p>
<p>7.4.2 Jūsų teisės bus įgyvendintos prieš tai patvirtinus jūsų tapatybę gyvai (atvykus į valdytojų klientų aptarnavimo padalinius, tvirtinant dokumentus kvalifikuotu elektroniniu parašu.)</p>
<table border="1" cellpadding="0" cellspacing="0" width="614">
    <thead>
    <tr>
        <td width="32.24755700325733%">
            <p><strong>Jūsų teisė</strong></p>
        </td>
        <td width="67.75244299674267%">
            <p><strong>Tam tikri apribojimai</strong></p>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="32.24755700325733%">
            <p>Žinoti (būti informuotas) apie savo duomenų tvarkymą (teisė žinoti);</p>
        </td>
        <td width="67.75244299674267%">
            <p>Jūs turite teisę prieš jūsų asmens duomenų tvarkymo pradžią gauti informaciją, apie duomenų tvarkymą glausta, paprasta ir suprantama kalba.</p>
        </td>
    </tr>
    <tr>
        <td width="32.24755700325733%">
            <p>Susipažinti su savo duomenimis ir kaip jie yra tvarkomi (teisė susipažinti);</p>
        </td>
        <td width="67.75244299674267%">
            <p>Ši teisė reiškia:</p>
            <p>- &nbsp; &nbsp; &nbsp; Patvirtinimą, ar mes tvarkome jūsų asmens duomenis,</p>
            <p>- &nbsp; &nbsp; &nbsp; Jūsų tvarkomų asmens duomenų sąrašo pateikimą</p>
            <p>- &nbsp; &nbsp; &nbsp; Tikslų ir teisinio pagrindo jūsų duomenų tvarkymui pateikimą</p>
            <p>- &nbsp; &nbsp; &nbsp; Patvirtinimą, ar siunčiame duomenis į trečiąsias šalis, jeigu taip, kokių saugumo priemonių ėmėmės</p>
            <p>- &nbsp; &nbsp; &nbsp; Jūsų asmens duomenų gavimo šaltinio pateikimą</p>
            <p>- &nbsp; &nbsp; &nbsp; Informaciją ar taikomas profiliavimas</p>
            <p>- &nbsp; &nbsp; &nbsp; Duomenų saugojimo laiko pateikimą</p>
            <p>Nustačius jūsų tapatybę, pateiksime jums aukščiau išvardintą informaciją, su sąlyga, kad tai nepažeis kitų asmenų teisių ir laisvių.</p>
        </td>
    </tr>
    <tr>
        <td width="32.24755700325733%">
            <p>Reikalauti ištaisyti arba, atsižvelgiant į asmens duomenų tvarkymo tikslus, papildyti asmens neišsamius asmens duomenis (teisė ištaisyti);</p>
        </td>
        <td width="67.75244299674267%">
            <p>Taikoma jeigu mūsų turima informacija yra neišsami arba netiksli</p>
        </td>
    </tr>
    <tr>
        <td width="32.24755700325733%">
            <p>Savo duomenis sunaikinti (teisė „būti pamirštam“);</p>
        </td>
        <td width="67.75244299674267%">
            <p>Taikoma, jeigu:</p>
            <p>- &nbsp;mūsų turima informacija nebereikalinga nustatytiems tikslams pasiekti</p>
            <p>- &nbsp;duomenis tvarkome remiantis jūsų sutikimu ir jūs sutikimą atšaukiate</p>
            <p>- duomenis tvarkome teisėtų interesų pagrindu, ir, po jūsų prašymo, nustatoma, kad jūsų privatūs interesai viršesni</p>
            <p>- informacija gauta neteisėtu būdu</p>
        </td>
    </tr>
    <tr>
        <td width="32.24755700325733%">
            <p>Sustabdyti savo duomenų tvarkymo veiksmus (išskyrus saugojimą)&nbsp;</p>
        </td>
        <td width="67.75244299674267%">
            <p>Ši teisė gali būti įgyvendinta tam laikotarpiui, kol mes analizuosime situaciją, t.y.:&nbsp;</p>
            <p>- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; jei jūs ginčijate informacijos tikslumą</p>
            <p>- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; jei jūs prieštaraujate asmens duomenų tvarkymui, kai tai vykdoma teisėtų interesų pagrindu</p>
            <p>- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; mes naudojame informaciją neteisėtai, tačiau jūs prieštaraujate, kad ji būtų ištrinta</p>
            <p>- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; informacija mums nebereikalinga, tačiau jūs reikalaujate ją saugoti dėl teisminio ginčo.</p>
        </td>
    </tr>
    <tr>
        <td width="32.24755700325733%">
            <p>Reikalauti, kad asmens Duomenų valdytojas apribotų asmens duomenų tvarkymą esant vienai iš teisėtų priežasčių (teisė apriboti);</p>
        </td>
        <td width="67.75244299674267%">
            <p>Jūs galite neleisti mums naudoti savo asmens duomenų tiesioginės rinkodaros tikslu.</p>
        </td>
    </tr>
    <tr>
        <td width="32.24755700325733%">
            <p>Teisė į duomenų perkėlimą</p>
        </td>
        <td width="67.75244299674267%">
            <p>Ši teisė gali būti įgyvendinta, jeigu jūs pateikėte savo duomenis ir mes juos tvarkome automatiniu būdu remdamiesi jūsų sutikimu arba sutartimi sudaryta su jumis.</p>
        </td>
    </tr>
    <tr>
        <td width="32.24755700325733%">
            <p>Teisė nesutikti</p>
        </td>
        <td width="67.75244299674267%">
            <p>Ši teisė gali būti įgyvendinta, kai toks duomenų tvarkymas vykdomas viešo intereso labui arba tvarkyti duomenis būtina siekiant teisėtų duomenų valdytojo arba trečiosios šalies interesų. Norint duomenų valdytojui tvarkyti asmens duomenis, jam tenka pareiga įrodyti, jog duomenys tvarkomi dėl įtikinamų teisėtų priežasčių, kurios yra viršesnės už &nbsp; &nbsp; duomenų subjekto interesus. (teisė nesutikti);</p>
        </td>
    </tr>
    <tr>
        <td width="32.24755700325733%">
            <p>Pateikti skundą Valstybinei duomenų apsaugos inspekcijai.</p>
        </td>
        <td width="67.75244299674267%">
            <p>http://vdai.lrv.lt/</p>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>7. Sveikidantukai.lt&nbsp;TEISĖS, PAREIGOS, PAREIŠKIMAI IR ATSAKOMYBĖ&nbsp;</p>
<p>7.1. Sveikidantukai.lt&nbsp;teisės:</p>
<p>7.1.1. Sveikidantukai.lt&nbsp;turi teisę savo nuožiūra apriboti, nurodant ribojimo sąlygas (t.y. dalinai arba pilnai uždrausti naudotis Svetaine), skirti kitokio pobūdžio nuobaudą (pvz. Įspėjimą) arba nutraukti Vartotojo galimybę naudotis Svetaine, įskaitant bet kokios informacijos, kurią įkėlė į Svetainę ištrynimu, Vartotojo paskyros panaikinimu ir uždraudimu Vartotojui iš naujo užsiregistruoti Svetainėje naudotis Svetaine, kai jis/ji:&nbsp;</p>
<p>7.1.1.1. pažeidžia šias Taisykles ar nesilaiko savo įsipareigojimų, numatytų šiose Taisyklėse, Privatumo politikoje ar bet kuriose kitose Svetainės taisyklėse;&nbsp;</p>
<p>7.1.1.2. pateikė neteisingą, nepilną ir/ar klaidinančią informaciją registruodamasis ar naudodamasis Svetaine;&nbsp;</p>
<p>7.1.1.3. Svetainėje atlieka neteisėtus veiksmus;</p>
<p>7.1.1.4. tyčia ir sąmoningai skleidžia apgaulingą ar neteisingą informaciją Svetainėje, įžeidinėja kitus asmenis ar kitaip netinkamai elgiasi;&nbsp;</p>
<p>7.1.1.5. piktnaudžiauja naikindamas savo paskyros duomenis, atsiliepimus apie jį ar ištrindamas visą savo paskyrą ir sukurdamas naują ar kitais panašiais būdais pateikia klaidingą informaciją apie savo paskyrą;&nbsp;</p>
<p>7.1.1.6. naudojasi kitų Vartotojų tapatybe ar kitaip neteisėtai elgiasi;</p>
<p>7.1.1.7. jungiasi iš to paties IP adreso ar to paties kompiuterio, kuris buvo blokuotas dėl pažeidimų;&nbsp;</p>
<p>7.1.1.8. yra gavęs ne mažiau nei tris neigiamus įspėjimus iš Sveikidantukai.lt&nbsp;arba yra kitos aplinkybės dėl kurių siekiant apsaugoti Svetainę ir jos Vartotojus Sveikidantukai.lt&nbsp;nusprendžia apriboti arba panaikinti Vartotojo paskyrą.&nbsp;</p>
<p>7.1.2. Sveikidantukai.lt&nbsp;turi teisę (bet ne pareigą) bet kada stebėti Vartotojo veiksmus Svetainėje. www.sveikidantukai.lt&nbsp;turi teisę tirti bet kokius Taisyklių pažeidimus ir imtis visų priemonių galimiems Taisyklių pažeidimams nutraukti, pašalinti ir užkirsti kelią tolimesniems Vartotojų atliekamiems pažeidimams.&nbsp;</p>
<p>7.1.3. Sveikidantukai.lt&nbsp;turi teisę bet kada savo nuožiūra ir iniciatyva arba gavus pranešimą iš kitų asmenų, pašalinti iš Svetainės Vartotojo pateiktas pacientų korteles ar bet kokią kitą Vartotojo informaciją.&nbsp;</p>
<p>7.1.4. Sveikidantukai.lt&nbsp;turi teisę bet kada Svetainės ribose savo nuožiūra pertvarkyti bet kokią informaciją apie Pacientą (Paciento Korteles), nekeisdama Vartotojo informacijos, tam, kad Svetaine būtų patogiau naudotis.&nbsp;</p>
<p>7.1.5. Siekiant apsaugoti Svetainės Vartotojus nuo nesąžiningo elgesio Svetainėje bei užkirsti kelią intelektinės nuosavybės teisių pažeidimams, Sveikidantukai.lt&nbsp;turi teisę, bet ne pareigą, tikrinti ar Pacientų Kortelės, kuriuos Vartotojai įkelia į Svetainės Visų Pacientų Sąrašą, nepažeidžia Svetainės Taiskylių. Esant įtarimui ar gavus atitinkamą informaciją ar pretenziją, Sveikidantukai.lt&nbsp;turi teisę reikalauti Vartotojo patvirtinti, kad visa informacija, kurią jis pateikė apie Pacientą, paskelbdamas naują Paciento Kortelę į Svetainės Visų Pacientų Sąrašą ar vėliau šia informacija papildydamas, yra teisinga, įskaitant bet neapsiribojant, Sveikidantukai.lt&nbsp;turi teisę reikalauti pateikti registruojamo paciento raštišką sutikimą, būti priregistruotam į Sveikidantukai.lt</p>
<p>7.1.7&nbsp;Sveikidantukai.lt&nbsp;turi teisę vienašališkai nutraukti, stabdyti, arba perduoti tretiesiems asmenims Svetainės veiklą, apie tai informuodama Vartotojus Svetainėje.&nbsp;</p>
<p>7.2. Sveikidantukai.lt valdytojai, pastebėję ar gavę žinių apie konkretaus Vartotojo atliekamą ar atliktą Taisyklių pažeidimą, turi teisę savo iniciatyva atlikti tyrimą ir skirti atitinkamą nuobaudą. Tačiau Sveikidantukai.lt&nbsp;nesprendžia Vartotojų tarpusavio ginčų.&nbsp;</p>
<p>7.3. Sveikidantukai.lt&nbsp;patvirtina, kad autorių teisės į Svetainę ir visą jos turinį (duomenų bazę) priklauso Sveikidantukai.lt&nbsp;teisėtai naudojasi trečiųjų asmenų suteiktomis teisėmis.&nbsp;</p>
<p>7.4. Sveikidantukai.lt&nbsp;nėra atsakingas už Vartotojų publikuojamą informaciją bei jos tematiką.&nbsp;</p>
<p>7.5. Sveikidantukai.lt&nbsp;nėra atsakingas už informacijos ar veiksmu, paslaugų, atliktu ar gautų naudojantis Svetaine ir/ar jos paslaugomis, kokybę, atitikimą aprašymui ir/ar komplektiškumą.&nbsp;</p>
<p>7.6&nbsp;Sveikidantukai.lt&nbsp;nėra atsakingas už informacijos, kurią Vartotojai pateikia Svetainėje, teisingumą, išsamumą ir/ar atitikimą teisės aktų reikalavimams.&nbsp;</p>
<p>7.7. Sveikidantukai.lt&nbsp;nėra atsakingas už netinkamą ir/ar neteisėtą Vartotojų elgesį.&nbsp;</p>
<p>7.8. Sveikidantukai.lt&nbsp;nėra atsakingas už jokią materialinę ir nematerialinę žalą, kurią gali patirti Vartotojas, ar kiti fiziniai ar juridiniai asmenys ir kuri galėjo tiesiogiai ar netiesiogiai atsirasti kaip Svetainės Vartotojų paskyrose, komentaruose ar kitose Svetainės platformose pateiktos informacijos padarinys.&nbsp;</p>
<p>7.9. Sveikidantukai.lt&nbsp;&nbsp;neatsako už asmeninių teisių pažeidimą Vartotojams įkeliant informaciją skirtą reklamuoti ir viešinant savo ar asmenų, kurie įgaliojo vartotoją paskelbti jo kortelę, duomenys, kurie reikalingi Svetainės veikimui.&nbsp;</p>
<p>7.10. Sveikidantukai.lt&nbsp;nėra atsakingas už bet kokio pobūdžio ir bet kokiais būdais Vartotojo atliekamą ar atliktą teisės aktų pažeidimą.&nbsp;</p>
<p>7.11. Sveikidantukai.lt&nbsp;neatsako už Svetainės ar jos duomenų bazės sutrikimą ar už nuostolius Vartotojams, ar kitiems fizininiams ar juridiniams asmenims, kilusius dėl techninių priežasčių ir/ar sunkumų ar kitokių įvykių, dėl kurių Vartotojas negali naudotis Svetaine (internetinio ryšio nutrūkimas, kompiuterinės įrangos, telekomunikacijų įrangos ar kitos įrangos gedimas ir t.t.).&nbsp;</p>
<p>7.12. Sveikidantukai.lt&nbsp;nėra atsakingas už Vartotojų pateikiamus duomenys Svetainėje, Vartotojų veiksmus ir negali prisiimti atsakomybės už bet kokius intelektinės nuosavybės apsaugą reglamentuojančių ar kitų teisės aktų pažeidimus, jei Vartotojai tokius įvykdytų.&nbsp;</p>
<p>7.13. Naudodamasis Svetaine ar jos paslaugomis ir/ar teikdamas, įvesdamas ar kitaip siųsdamas bet kokią informaciją ar duomenis į Svetainę Vartotojas perduoda Sveikidantukai.lt teises į tokią informacija ir/ar duomenis (paskyros informacija, nustatymai, kontaktinė informacija, tapatybės informacija, mokėjimų rekvizitų informacija, asmeninės žinutės, Vartotojo IP adresai, Pacientų Sveikatos Informacija, Studentų Informacija), kuriuos Sveikidantukai.lt&nbsp;gali naudoti siekiant suteikti galimybę naudotis Svetaine. Šią informaciją ir duomenis apie Vartotoją, Sveikidantukai.lt&nbsp;saugo tris mėnesius po Svetainės paskyros panaikinimo, išskyrus atvejus numatytus Taisyklėse.&nbsp;</p>
<p>8. TAISYKLIŲ KEITIMAS&nbsp;</p>
<p>8.1. Kadangi Svetainė nuolat tobulėja ir vystosi, siekiant užtikrinti patogesnį bei saugesnį naudojimąsi, Sveikidantukai.lt&nbsp;turi teisę vienašališkai pakeisti Taisykles.&nbsp;</p>
<p>8.2. Sveikidantukai.lt&nbsp;praneš Vartotojams apie Taisyklių pakeitimus, kuri tiesiogiai susijusi su vartotoju, paskelbdama apie tai Svetainėje.&nbsp;</p>
<p>9. BAIGIAMOSIOS NUOSTATOS&nbsp;</p>
<p>9.1. Taisyklėms yra taikoma Lietuvos Respublikos teisė.</p>
<p>9.2. Visi tarp Svetainės ir Vartotojo kilę nesutarimai yra sprendžiami derybų keliu. Šalims neišsprendus ginčo derybų būdu toks ginčas galutinai sprendžiamas Lietuvos Respublikos įstatymų nustatyta tvarka teismuose.&nbsp;</p>
</body>
</html>